.dart_tool/
.dart_tool
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

.git/
.gitignore

android/.gradle/
android/local.properties
android/app/.cxx/
android/app/build/

ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

*.iml
*.log
